# Installation and deployment
setuptools==46.1.1
twine==3.1.1
bernardomg.tox-test-command==1.1.6
bernardomg.version-extractor==1.0.3

# Testing
tox==3.14.5

# Documentation
Sphinx==2.4.4
sphinx-docs-theme==1.0.3
Pygments==2.6.1

# Parsing
antlr4-python3-runtime==4.7.2
