# Installation and deployment
setuptools==38.2.5
twine==1.9.1
bernardomg.tox-test-command==1.1.3
bernardomg.version-extractor==1.0.2

# Testing
tox==2.9.1

# Documentation
Sphinx==1.6.5
sphinx-docs-theme==0.2.3
Pygments==2.2.0

# Parsing
ply==3.10
